<div class="modal-header">
    <h1 ng-bind="dialog.gallery.imagegallery_name"></h1>
</div>
<div class="modal-body">
    <div class="form-group">
        <input type="text" name="search" class="form-control" ng-model="dialog.search.image_name" placeholder="search"/>
    </div>

    <div class="form-group row">
        <div class="col-xs-2">
            <button class="btn btn-block btn-danger" ng-click="dialog.create()">Create</button>
        </div>

        <div class="col-xs-4 col-xs-offset-6">
            <select ng-model="dialog.sortBy" class="form-control">
                <option value="none">sort by</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="btn-group" role="group" aria-label="select">
            <button type="button" class="btn btn-default" ng-click="dialog.selectAll()">Select All</button>
            <button type="button" class="btn btn-default" ng-click="dialog.clearAll()">Clear All</button>
        </div>

        <button type="button" class="btn btn-default pull-right" ng-click="dialog.delete()">Delete Multiple</button>
    </div>

    <div class="list-group">
        <div class="list-group-item" ng-repeat="image in dialog.imageList | filter:dialog.search">
            <div class="row">
                <div class="checkbox col-xs-1">
                    <label>
                        <input type="checkbox" ng-model="image.selected">
                    </label>
                </div>
                <div class="col-xs-11">
                    <div class="media">
                        <div class="media-left" ng-click="dialog.showImage(image.image_id)">
                            <a href="">
                                <img class="media-object" ng-src={{image.image_url}} width="64" height="64"> </a>
                        </div>
                        <div class="media-body">
                            {{ image | json }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-default" ng-click="dialog.select()">Select</button>
    </div>

    <p ng-show="dialog.showSelected" ng-bind="dialog.imageList | filter:{selected:true} | json"></p>
</div>