<div class="modal-header">
    <h3 class="modal-title">{{dialog.operatedImage.image_title}}</h3>
</div>
<div class="modal-body">
    <div class="text-center">

        <div class="image-tool">
           
            <div style="width: 288px; height: 288px; margin: auto; display: table; overflow: visible;">
                <img rotate="dialog.rotateDegrees" width="128" ng-src="{{dialog.operatedImage.image_url}}">
            </div>
        </div>
        <button class="btn btn-default" type="button" ng-click="dialog.rotate(-90)">Left</button>
        <button class="btn btn-default" type="button" ng-click="dialog.rotate(90)">Right</button>
    </div>
   
</div>
<div class="modal-footer text-center">
    <button class="btn btn-default" type="button" ng-click="dialog.resolve()">Save</button>
    <button class="btn btn-default" type="button" ng-click="dialog.dismiss()">Cancel</button>
</div>

