<div class="product-form">
    <div class="page-title" ng-click="vm.test();">
        <h1>Product form</h1>
    </div>

    <div class="text-center">

        <div class="image-tool">
            
            <div style="width: 288px; height: 288px; margin: auto; display: table; overflow: visible;">
                <a href="" ng-click="vm.openImgUploadDialog();">
                    <img width="100%" ng-src="{{vm.image.image_url}}">
                </a>
            </div>
            <h4>{{vm.image.image_title}}</h4>
            <p>{{vm.image.image_file_name}}</p>
        </div>
    </div>

    <button class="btn btn-default" type="button" ng-click="vm.submit()">Submit</button>
    <button class="btn btn-default" type="button" ng-click="vm.reset()">Reset</button>
</div>